.custom-select-border fieldset.MuiOutlinedInput-notchedOutline {

    border: none !important;
    outline: none !important;
}

.custom-select-border .css-q0jhri-MuiInputBase-root-MuiInput-root:before {
    border-bottom: none !important;
}

.custom-select-border .css-q0jhri-MuiInputBase-root-MuiInput-root::after {
    border-bottom: none !important;
}

.gm-svpc {
    display: none !important;
}

@media only screen and (min-width: 1440px) and (max-height: 992px) {
    .location-custom-mac {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }
}


@media only screen and (max-width: 1740px) and (max-height: 792px) {

    .height-custom-desktop-location {
        height: 50% !important;
    }

    .line-clamp-2-responsive {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
    }
}


@media only screen and (min-width: 1640px) and (max-height: 992px) {

    .height-custom-desktop-location {
        height: 50% !important;
    }

    .line-clamp-2-responsive {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
    }
}

.custom-tooltip {
    position: relative;
}

.custom-tooltip:after {
    content: "Hình minh họa";
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99999;
    font-size: 10px;
    padding-left: 10px;
    color: #a3a3a3;
}