/* Dots */
.slick-arrow {
  display: none !important;
}

.slick-slide div {
  height: 100% !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-slider {
  height: 100% !important;
}

.slick-track {
  height: 100% !important;
}

.slick-list {
  height: 100% !important;
}

.slick-dots {
  position: absolute;
  bottom: -20px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  transition: width 0.3s ease-in-out;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 10px;
  height: 10px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 10px;
  height: 10px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}


.ft-slick__dots--custom-male {
  height: 2px;
  width: 24px;
  background-color: white;
  border-radius: 4px;
  position: relative;
}

.slick-dots li {
  width: 30px;
  padding: 0 8px;
  margin: 0 2px;
  transition: width 0.3s ease-in-out;
}

.slick-dots .slick-active .ft-slick__dots--custom-male {
  width: 24px;
  background-color: #2c1af4;
  margin: 0 2px;
}

.custom-img-male img:not([draggable]),
embed,
object,
video {
  max-width: 100%;
  height: auto;
}