.popover-locations {
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: 99;
   transition: all 250ms ease-in-out;
   font-size: 1.2rem;

   &.active {
      .locations {
         transform: scale(1);
         opacity: 1;
      }

      .overlay {
         opacity: 1;
      }
   }

   .overlay {
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(51, 51, 51, 0.3);
      opacity: 0;
   }

   .locations {
      visibility: visible;
      transform: scale(0);
      opacity: 0;
      transform-origin: right bottom;
      transition: all 250ms ease-in-out;
      // background-color: white;
      position: absolute;
      border-radius: var(--radius-md);
      padding: 1.2em;
      gap: 1em;
      flex-direction: column;
      display: flex;
      position: fixed;
      right: 7.5em;
      bottom: 2em;
      z-index: 99;
      font-size: 1rem;
   }
}

.location-item {
   color: darkblue;
   cursor: pointer;
   // filter: grayscale(1) brightness(2);
   transition: all 250ms ease-in-out;
   // border-radius: var(--radius-sm);
   overflow: hidden;


   background-color: white;
   border-radius: 50%;
   padding: 1em;
   border: 2px solid var(--primary-500);
   box-shadow: 3px 3px 8px #3636366c;
   transition: scale 250ms alternate, filter 250ms alternate;
   transform: scale(1);


   img {
      width: 60px;
      height: 60px;
      filter: grayscale(1);
   }

   &:hover {
      // filter: grayscale(0) brightness(1);
      // border-radius: var(--radius-lg);
      box-shadow: 2px 2px 5px #33300062;
      transform: scale(1.1);

      img {
         filter: grayscale(0);
      }
   }
}


/* Define the animation */
@keyframes slideIn {
   from {
      transform: translateX(100%);
      opacity: 1;
   }

   to {
      transform: translateX(0);
      opacity: 0;
   }
}

@media (max-width: 1099px) {
   .popover-locations .locations {
      bottom: 13em;
      flex-direction: row;
      justify-content: center;
      left: 0;
      right: 0;

      .location-item img {
         filter: grayscale(0)
      }
   }
}