.fast-action-controls {
  position: fixed;
  right: 0.8em;
  bottom: 3.5em;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 1.5em;
  color: var(--neutral-400);
  z-index: 42;
}
.fast-action-controls .action-item {
  text-align: center;
  display: flex;
  flex-direction: row;
  border-radius: var(--radius-sm);
  padding: 0.5em;
  color: white;
  font-size: 1.2em;
  background-color: var(--primary-500);
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
  height: 40px;
  max-width: fit-content;
  box-shadow: 2px 2px 5px rgba(1, 95, 85, 0.4509803922);
  padding: 0.5em 0.8em;
}
.fast-action-controls .action-item.active {
  background-color: var(--primary-800);
}
.fast-action-controls .action-item img {
  width: 2em;
  height: 2em;
}
.fast-action-controls .action-item__title {
  transition: all 250ms ease-in;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  opacity: 1;
  margin-left: 0.4em;
}
.fast-action-controls .action-item#fast-btn-booking img {
  height: 1.5em;
}
.fast-action-controls .action-item:hover .action-item__title {
  width: 100%;
  opacity: 1;
  margin-left: 0.4em;
}
.fast-action-controls .action-item#fast-btn-consulting-point {
  display: none;
}

@media (max-width: 1099px) {
  .fast-action-controls {
    flex-direction: row;
    bottom: 7.4em;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
  }
}
@media (min-width: 1100px) {
  .fast-action-controls .action-item {
    font-size: 1.5em;
  }
  .fast-action-controls .action-item__title {
    width: 0;
    padding: 0;
    opacity: 0;
    margin: 0;
  }
  .fast-action-controls .action-item#fast-btn-consulting-point {
    display: flex;
  }
}