.popover-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  transition: all 250ms ease-in-out;
  font-size: 1.2rem;
}
.popover-modal .overlay {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.3);
}
.popover-modal .popover-content {
  z-index: 9;
  background-color: white;
  position: absolute;
  bottom: 4em;
  right: 6em;
  padding: 1.5em;
  border-radius: var(--radius-md);
}

.popover-modal.delay-change-page .ribbon-white {
  left: 0;
  top: -28px;
  width: 65%;
  height: 40px;
  border-top-left-radius: var(--radius-md);
  border-top-right-radius: var(--radius-md);
  background-color: white;
  position: absolute;
  z-index: -1;
}
.popover-modal.delay-change-page .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
  font-weight: 500;
  color: var(--neutral-200);
}
.popover-modal.delay-change-page .title__left {
  font-size: 2.1em;
}
.popover-modal.delay-change-page .title__right {
  font-size: 1.3em;
  font-weight: 400;
}
.popover-modal.delay-change-page .popover-content {
  border-bottom-left-radius: var(--radius-md);
  border-top-right-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
  border-top-left-radius: 0;
  padding-top: 0;
  max-width: 65em;
}
.popover-modal.delay-change-page .content {
  background-color: var(--primary-800);
  color: white;
  padding: 1.6em;
  border-radius: var(--radius-sm);
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  font-weight: 400;
}
.popover-modal.delay-change-page .content a {
  color: var(--third-400);
}