.container-sidebar,
.container-sidebar-mobile {
   position: sticky;
   top: 80px;
   display: flex;
   flex-direction: column;
   gap: 15px;

   .sidebar-title {
      background-color: var(--primary-500);
      border-radius: var(--radius-sm);
      font-weight: 700;
      font-size: 15px;
      color: white;
      padding: 8px 10px;
      text-align: center;
   }

}

.list-card {
   display: flex;
   flex-direction: column;
   gap: 1.5em;

   .card-item {
      font-size: 1rem;

      display: flex;
      flex-direction: row;
      gap: 1.5em;

      background-color: white;
      border-radius: var(--radius-md);
      padding: 1em;
      // font-size: 14px !important;
      flex: auto;
      overflow: hidden;

      .avatar {
         // border-radius: var(--radius-md);// border: 1px solid var(--primary-500);
         overflow: hidden;
         flex: 0;
         min-width: 14em;

         img {
            transition: all .3s ease-in-out;
            width: 100%;
            height: 100%;
            object-fit: cover;
         }

      }

      .info {
         display: flex;
         flex-direction: column;
         gap: 0.7em;
         text-align: left;
         flex: 1;
         line-height: 1.2;
         font-size: 1.5em;
         justify-content: center;

         .title {
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            color: var(--primary-500);
            letter-spacing: -0.05em;
            display: block;
         }

         .description {
            flex-grow: 1;
         }

         .actions {
            display: flex;
            flex-direction: row;
            gap: 0.8em;

            a {
               font-size: 1.4em;
               flex: 1;
               // padding: 8px 20px;
               line-height: 1.2;
            }
         }
      }

      &:hover {
         .avatar {
            img {
               transform: scale(1.1) rotateZ(2deg);
            }
         }
      }
   }
}

.sidebar-action-controls {
   display: flex;
   flex-direction: column;
   gap: 1em;

   color: var(--neutral-400);

   .action-item {
      display: flex;
      flex-direction: row;
      border-radius: var(--radius-md);
      padding: 0.5em 2em;
      color: white;
      font-size: 2em;
      background-color: var(--primary-500);
      vertical-align: middle;
      align-items: center;
      justify-content: center;
      gap: 0.7em;
      cursor: pointer;

      transition: all 0.3s ease-in;

      &:hover {
         background-color: var(--primary-800);
      }

      &.active {
         background-color: var(--primary-800);
      }

      img {
         width: 2em;
         height: 2em;
      }

      &#sidebar-btn-booking {
         img {
            height: 1.7em;
         }
      }
   }

}

.container-sidebar-mobile {
   background-color: transparent;
   position: static;
   // padding: 8px;

   .copyright {
      font-size: 0.58em;
      color: var(--neutral-300);
      margin-top: 15px;
      display: block;
      text-align: center;
      padding: 0 10px;
   }

   .sidebar-title {
      border-radius: 0;
   }

   .list-card {
      padding: 8px;
      display: flex;
      flex-direction: row;
      gap: 1.5em;
      flex-wrap: wrap;

      .card-item {
         border-radius: var(--radius-md);
         border: 1px solid var(--neutral-500);
         padding: 0;
         gap: 0;
         flex: 1;
         min-width: 31rem;
         font-size: 1rem;

         .avatar {
            border-radius: 0;
            border: none;
            min-width: 10em;
         }

         .info {
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 1em;
            padding: 1em;
            padding-left: 0;
            letter-spacing: -0.5px;

            .title {
               font-size: 1.1em;
            }

            .subtitle {
               margin-right: -15px;
               margin-left: -2.5em;
               font-size: 1em;
               letter-spacing: -0.3px;
            }

            .btn {
               font-size: 1.2em;
            }
         }
      }
   }
}

.sidebar .container-sidebar,
.container-sidebar-mobile {
   .sidebar-title {
      background-color: var(--third-500);
   }

   .list-card {
      .card-item {
         .info {
            .title {
               color: var(--third-500);
            }
         }

         .actions a {
            border-color: var(--third-500);
         }
      }
   }
}

@media (min-width: 1100px) {
   .list-card {

      .card-item {
         font-size: 1rem;

         .avatar {
            min-width: 12.5em;
         }

         .info {
            text-align: center;
            font-size: 1.3em;

            .title {
               font-size: 1.15em;
            }

            .subtitle {
               display: none;
            }

            .actions {
               a {
                  font-size: 1.4rem;
                  flex: 1;
                  line-height: 1.2;
               }
            }
         }
      }
   }
}

@media (min-width: 1300px) {}

@media (min-width: 1500px) {}