.popup-menu-mobile{
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: 99;
   transition: all 250ms ease-in-out;

   .overlay{
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #3333336a;
   }

   .container-menu-mobile{
      position: absolute;
      z-index: 2;
      left: 20px;
      top: 20px;

      width: fit-content;
      background-color: white;
      border-radius: var(--radius-md);

      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      color: var(--neutral-400);

      .nav-menu{
         display: flex;
            flex-direction: column;
            gap: 10px;
            padding-left: 0;
         &__item{
            font-size: 15px;
            color: var(--primary-500);
            padding: 5px 8px;
            display: inline;
            a{
               color: var(--primary-500)
            }
         }
        
      }
   }
}

 