@media (min-width: 1100px) {
   .main-menu{

      background-color: white;
      justify-content: flex-start;

      .btn-open-menu-mobile{
         display: none;
      }

      .nav-menu {
         flex-grow: 1;
         ul{
            flex-grow: 1;
            display: flex;
         }
      }
   }
}
@media (min-width: 1300px) {
   .main-menu{
      .logos {
         img {
            height: 65px
         }
      }
   
      .nav-menu {
         display: flex;
         ul{
            gap: 16px;
         }
         &__item {
   
            a {
               font-size: 13px;
            }
   
            &.active a {
               color: green;
            }
         }

      }

   }
}