.popup-search {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  transition: all 250ms ease-in-out;
}
.popup-search .overlay {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.4156862745);
}
.popup-search .container-search {
  position: absolute;
  z-index: 2;
  right: 10px;
  top: 10px;
  width: calc(100vw - 20px);
  background-color: white;
  border-radius: var(--radius-md);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--neutral-400);
}
.popup-search .container-search input {
  font-size: 14px;
  width: 100%;
  padding: 8px 12px;
  border-radius: 12px;
  border: 1px solid var(--neutral-06-day, #d6d6d6);
  background: var(--neutral-09-day, #fff);
}
.popup-search .container-search input:focus {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  outline: 0;
  outline-offset: 0;
  outline-width: 1px;
  outline-style: solid;
  outline-color: var(--neutral-600);
  border-color: transparent;
}
.popup-search .container-search .search-results {
  color: var(--primary-500);
}
.popup-search .container-search .search-results ul {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  gap: 8px;
}
.popup-search .container-search .search-results ul li {
  text-transform: lowercase;
  text-decoration: none;
  display: inline;
}
.popup-search .container-search .no-results {
  color: var(--primary-500);
  text-align: center;
}

/* Define the animation */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 0;
  }
}
.popup-menu-mobile {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  transition: all 250ms ease-in-out;
}
.popup-menu-mobile .overlay {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.4156862745);
}
.popup-menu-mobile .container-menu-mobile {
  position: absolute;
  z-index: 2;
  left: 20px;
  top: 20px;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
  border-radius: var(--radius-md);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--neutral-400);
}
.popup-menu-mobile .container-menu-mobile .nav-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 0;
}
.popup-menu-mobile .container-menu-mobile .nav-menu__item {
  font-size: 15px;
  color: var(--primary-500);
  padding: 5px 8px;
  display: inline;
}
.popup-menu-mobile .container-menu-mobile .nav-menu__item a {
  color: var(--primary-500);
}

.main-menu {
  display: flex;
  border-radius: 50px;
  flex: auto;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1.8em;
  background-color: transparent;
  box-shadow: none;
}
.main-menu .btn-open-menu-mobile {
  cursor: pointer;
  padding: 10px 10px;
  border-radius: var(--radius-sm);
  transition: all 250ms ease-in-out;
  color: var(--primary-800);
}
.main-menu .btn-open-menu-mobile:hover {
  color: white;
  background-color: var(--primary-800);
}
.main-menu .logos {
  display: flex;
  gap: 10px;
}
.main-menu .logos img {
  height: 40px;
}
.main-menu .nav-menu {
  justify-content: space-between;
  align-items: center;
  gap: 0.4em;
  display: flex;
}
.main-menu .nav-menu ul {
  display: none;
  gap: 0.3em;
  width: 100%;
  justify-content: center;
  justify-content: flex-end;
}
.main-menu .nav-menu__item {
  display: inline-block;
}
.main-menu .nav-menu__item a {
  text-transform: capitalize;
  text-decoration: none;
  display: block;
  padding: 0.6em 1.5em;
  border: 1px solid var(--primary-800);
  border-radius: 50px;
  font-size: 10px;
  transition: all 0.25s ease-in-out;
  color: var(--primary-800);
  font-weight: 400;
  text-align: center;
  transition: all 0.4s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.main-menu .nav-menu__item a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: calc(100% + 2px);
  background-color: var(--primary-800);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
  left: -2px;
}
.main-menu .nav-menu__item a:hover {
  background-color: var(--primary-800);
  border-color: var(--primary-500);
  color: white;
}
.main-menu .nav-menu__item a:hover:before {
  width: calc(100% + 4px);
}
.main-menu .nav-menu__item.active a {
  color: green;
}
.main-menu .nav-menu .search-control {
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
  color: var(--primary-800);
  transition: all 0.25s ease-in-out;
}
.main-menu .nav-menu .search-control svg {
  font-size: 30px;
}
.main-menu .nav-menu .search-control:hover {
  background-color: var(--primary-800);
  color: white;
}
.main-menu .btn-open-menu-mobile {
  display: block;
}

@media (min-width: 1100px) {
  .main-menu {
    background-color: white;
    justify-content: flex-start;
  }
  .main-menu .btn-open-menu-mobile {
    display: none;
  }
  .main-menu .nav-menu {
    flex-grow: 1;
  }
  .main-menu .nav-menu ul {
    flex-grow: 1;
    display: flex;
  }
  .main-menu .nav-menu ul .nav-menu__item {
    transition: all 250ms ease-in-out;
  }
  .main-menu .nav-menu ul .nav-menu__item.is-female a:hover {
    color: var(--primary-500);
    background-color: transparent;
    border-color: var(--secondary-500);
  }
  .main-menu .nav-menu ul .nav-menu__item.is-female a:hover:before {
    background-color: var(--secondary-500);
  }
  .main-menu .nav-menu ul .nav-menu__item.is-male a:hover {
    background-color: transparent;
    border-color: var(--third-500);
  }
  .main-menu .nav-menu ul .nav-menu__item.is-male a:hover:before {
    background-color: var(--third-500);
  }
  .popup-search .container-search {
    width: 400px;
  }
}
@media (min-width: 1300px) {
  .main-menu .logos img {
    height: 65px;
  }
  .main-menu .nav-menu {
    display: flex;
  }
  .main-menu .nav-menu ul {
    gap: 1em;
  }
  .main-menu .nav-menu__item a {
    padding: 0.8em 1.2em;
    font-size: 1.3em;
  }
  .main-menu .nav-menu__item.active a {
    color: green;
  }
}/*# sourceMappingURL=menu.css.map */