@import './search';
@import './menu-mobile';

.main-menu {
   display: flex;
   border-radius: 50px;
   flex: auto;
   align-items: center;
   justify-content: space-between;
   padding: 5px;
   background-color: transparent;
   box-shadow: none;
   margin-top: 15px;

   .btn-open-menu-mobile{
      cursor: pointer;
      padding: 10px 10px;
      border-radius: var(--radius-sm);
      transition: all 250ms ease-in-out;
      color: var(--primary-800);
      &:hover{
         color: white;
         background-color: var(--primary-800);
      }
   }

   .logos {
      display: flex;
      gap: 10px;
      img {
         height: 40px
      }
   }

   .nav-menu {
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      display: flex;
   
      ul {
         display: none;
         gap: 8px;
         width: 100%;
         justify-content: center;
         justify-content: flex-end;
      }

      &__item {
         display: inline-block;

         a {
            text-transform: capitalize;
            text-decoration: none;
            display: block;
            padding: 8px 10px;
            border: 1px solid var(--primary-800);
            border-radius: 50px;
            font-size: 10px;
            transition: all 0.25s ease-in-out;
            color: var(--primary-800);
            font-weight: 400;
            text-align: center;

            &:hover {
               background-color: var(--primary-800);
               border-color: var(--primary-500);
               color: white;
            }
         }

         &.active a {
            color: green;
         }
      }

      .search-control {
         padding: 8px;
         cursor: pointer;
         border-radius: 50%;
         color: var(--primary-800);
         transition: all 0.25s ease-in-out;

         svg {
            font-size: 30px;
         }

         &:hover {
            background-color: var(--primary-800);
            color: white;
         }
      }
   }

   .btn-open-menu-mobile{
      display: block;
   }
}


@import './responsive-menu';