<link type="text/css" rel="stylesheet" href="./css/layout/fast-controls/fast-controls.css">

<div class="action-items">
   <a href="https://m.me/hpvvietnam?ref=botshare" target="_blank" class="action-item" id="btn-chat-now">
      <img src="./images/icons/svg/cloud-chat-outline.svg" />
      <span>Chat với chúng tôi</span>
   </a>

   <a href="https://youmed.vn/dat-kham/benh-vien?utm_source=Hpv.vn&utm_medium=redirect&utm_campaign=MSD006-HPV" target="_blank" class="action-item" id="btn-booking">
      <img src="./images/icons/svg/calender.svg" />
      <span>
         Đặt lịch dự phòng
      </span>
   </a>
</div>