<link type="text/css" rel="stylesheet" href="./css/layout/fast-controls/fast-controls.css">

<div class="action-items">
   <div class="action-item">
      <svg xmlns:xlink="http://www.w3.org/1999/xlink">
         <use xlink:href="#female-outline" fill="currentColor" />
      </svg>
      <span>Chat với chúng tôi</span>
   </div>
   <div class="action-item">
      <svg xmlns:xlink="http://www.w3.org/1999/xlink">
         <use xlink:href="#female-outline" fill="currentColor" />
      </svg>
      <span>
         Đặt lịch dự phòng
      </span>

   </div>
</div>