<link type="text/css" rel="stylesheet" href="./css/layout/footer/footer.css">

<div class="footer-container">
   <h2>Nội dung này do Hội Y học Dự phòng Việt Nam cung cấp và được MSD tài trợ vì mục đích giáo dục.
      VN-GSL-0082431052025</h2>
</div>
<!-- <script src="./layout/footer/index.js" type="module"></script> -->
<script type="text/javascript" id="js-footer">
   var scriptElement = document.createElement('script');
   scriptElement.src = "./layout/footer/index.js";
   scriptElement.type = 'module';
   document.body.appendChild(scriptElement);
</script>