.disease-routes {
   font-size: 1rem;
   display: flex;
   flex-direction: column;
   gap: 15px;

   padding: 15px;
   margin: 15px 8px;

   background: var(--sixth-500);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: var(--radius-md);

   &__ribbon {
      background: linear-gradient(180deg, #2CAF99 0%, #0F7360 100%);
      box-shadow: 3px 5px 0px rgba(61, 175, 165, 0.7);
      border-radius: var(--radius-sm);
      text-align: center;
      padding: 10px 15px;
      width: fit-content;
      margin: auto;

      &__title-1,
      &__title-2 {
         font-size: 15px;
         font-weight: 700;
         color: white;
         text-transform: uppercase;
      }

      &__title-2 {
         color: var(--secondary-500);
      }
   }

   &__items {
      display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-template-columns: 1fr 1fr;
      align-items: stretch;
      // display: flex;
      // flex-wrap: wrap;
      row-gap: 40px;
      // justify-content: center;
      // flex: auto;
      margin-top: 25px;
      padding-bottom: 25px;
   }
}



.routes-item {
   font-size: 1rem;
   position: relative;
   z-index: 1;

   display: flex;
   padding: 10px;
   padding-top: 0;
   align-items: center;
   border-radius: var(--radius-md);
   flex-direction: column;
   flex: 1;
   min-width: 145px;

   &__shape {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: var(--primary-500);
      border-radius: 0 0 20px 20px;
      clip-path: polygon(100% 50%, 85% 70%, 15% 70%, 0% 50%, 0% 100%, 100% 100%);
      z-index: -1;
   }

   &__number {
      padding: 5px;
      border-radius: 50%;
      width: 50px;
      min-height: 50px;
      background-color: #169787;
      box-shadow: 1.06px 1.06px 1.42px rgba(120, 120, 120, 0.35);
      flex: 0;
      position: absolute;
      top: -25px;
      color: var(--primary-500);

      span {
         font-size: 1.8em;
         background-color: white;
         display: flex;
         align-items: center;
         justify-content: center;
         height: 100%;
         border-radius: 50%;
         min-height: 40px;
         font-weight: 600;
         box-shadow: 1.06px 1.06px 1.42px rgba(120, 120, 120, 0.35);

      }

   }

   &__des {
      color: var(--primary-500);
      background-color: white;
      border-radius: var(--radius-sm);
      padding: 32px 15px 15px 15px;
      text-align: center;
      box-shadow: 1.06px 1.06px 1.42px rgba(120, 120, 120, 0.35);
      flex-grow: 1;
      font-size: 14px;
   }



}

.routes-item:nth-child(2n) {
   padding-top: 10px;
   padding-bottom: 0px;

   .routes-item__number {
      // padding-bottom: ;
      top: auto;
      bottom: -25px;
   }

   .routes-item__shape {
      border-radius: 20px 20px 0 0;
      clip-path: polygon(100% 50%, 85% 35%, 15% 35%, 0% 50%, 0% 0%, 100% 0%);
   }

   .routes-item__des {
      padding-top: 15px;
      padding-bottom: 28px;
   }
}

.routes-item:nth-child(2) {
   .routes-item__number {
      color: var(--forth-500);
      background-color: var(--forth-500);
   }

   .routes-item__shape {
      background-color: var(--forth-500);
   }
}

.routes-item:nth-child(3) {
   .routes-item__number {
      color: var(--secondary-500);
      background-color: var(--secondary-500);
   }

   .routes-item__shape {
      background-color: var(--secondary-500);
   }
}

.routes-item:nth-child(4) {

   .routes-item__number {
      background-color: var(--fifth-500);
      color: var(--fifth-500);
   }

   .routes-item__shape {
      background-color: var(--fifth-500);
   }
}

@media (min-width: 768px) {
   .disease-routes__items {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   }
}

@media (min-width: 1100px) {
   .disease-routes {
      background: linear-gradient(180deg, #FCEA6F 0%, #DCC31A 100%);
      margin: 0 20px;
      margin-top: 30px;


      &__ribbon {

         box-shadow: 5px 5px 0px rgba(61, 175, 165, 0.7);
         padding: 15px 25px;

         &__title-1,
         &__title-2 {
            font-size: 22px;
         }

         &__title-2 {
            color: var(--secondary-500);
            font-size: 26px;
         }
      }

      &__items {
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
         row-gap: 50px;
      }
   }

   .routes-item {
      // min-width: 200px;
      max-width: fit-content;
      // align-self: center;
   }
}

@media (min-width: 1100px) and (max-width:1299px) {
   .hpv-report .hpv-reports {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
   }
}

@media (min-width: 1300px) {
   .routes-item {
      padding: 1em;
      padding-top: 0;

      &__number {
         min-width: 5.5em;
         height: 5.5em;
         min-height: 5.5em;
         padding: 7.5px;
         font-size: 1.4em;
         top: -40px;

         span {
            max-height: 1.4em;
            min-height: 2.40em;
            box-shadow: 1.06px 1.06px 1.42px rgba(120, 120, 120, 0.35);
         }

      }

      &__des {
         padding: 40px 15px 15px 15px;
         font-size: 1.7em;
      }
   }

   .routes-item:nth-child(2n) {
      padding-top: 15px;

      .routes-item__number {
         bottom: -40px;
      }

      .routes-item__des {
         padding-bottom: 45px;
      }

   }

   .disease-routes {
      padding: 25px 15px;
      margin: 0 40px;

      &__ribbon {

         &__title-1,
         &__title-2 {
            font-size: 25px;
         }

         &__title-2 {
            font-size: 30px;
         }
      }

      &__items {
         padding: 15px 0;
         padding-bottom: 50px;
      }
   }


}

@media (min-width: 1500px) {}