.result-infection-hpv {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 25px;
   padding: 5px;

   .top-ribbon {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      padding: 6px 15px;


      background: linear-gradient(90deg, #FEFCE8 0%, #FAEA5D 100%);
      box-shadow: 3px 3px 0px rgba(0, 149, 133, 0.25);
      border-radius: 7px;
      font-size: 15px;

      color: var(--primary-500);
      font-weight: 700;
      text-transform: uppercase;


      .quote-element {
         position: absolute;
         z-index: 99;
         transform: translateX(-250%);
         top: -20%;

         img {
            width: 33px;
         }
      }

      .text-result-ribbon {

         padding: 7px 20px;
         background: linear-gradient(180deg, #27A38D 0%, #107562 100%);
         box-shadow: 2px 2px 0px #8CCABC;
         border-radius: 7px;
         margin-top: -15px;
         width: fit-content;

         font-size: 12px;

         color: white;

      }

   }

   .container-des {
      margin-top: -20px;
      background: #E6F9FC;
      border-radius: 7px;
      font-size: 11.5px;
      color: var(--primary-500);
      text-align: center;
      padding: 10px;
      padding-top: 30px;
   }
}


@media (min-width: 1300px) {
   .result-infection-hpv {
      padding: 15px;

      .top-ribbon {
         padding: 10px 25px;
         font-size: 20px;

         .quote-element {
            img {
               width: 45px;
            }
         }

         .text-result-ribbon {
            font-size: 20px;
         }

      }

      .container-des {
         font-size: 18px;
      }
   }
}

@media (min-width: 1500px) {
   .result-infection-hpv {
      padding: 20px;

      .top-ribbon {
         padding: 10px 25px;
         font-size: 20px;

         .quote-element {
            img {
               width: 45px;
            }
         }

         .text-result-ribbon {
            font-size: 20px;
         }

      }

      .container-des {
         font-size: 18px;
      }
   }
}