@media (min-width: 1100px) {
   .root-container {
      gap: 15px;
   }

   .menu-header {
      margin-top: 20px;
   }

   .container-content {
      flex-direction: row;

      .main-container {
         width: 0;
         max-height: 100%;
         overflow: hidden;
         border-radius: var(--radius-lg);

         .banner-main {
            &__desktop {
               display: block;
            }

            &__mobile {
               display: none;
            }
         }

         .footer-main-content {
            padding: 50px;
            gap: 40px;
            border-bottom-left-radius: var(--radius-lg);
            border-bottom-right-radius: var(--radius-lg);

            &.paragraph-2-col {
               column-count: 2;
               column-gap: 40px;
            }

            .content {
               ul {
                  li {
                     font-size: 10px;
                  }
               }
            }
         }
      }

      .container-sidebar-mobile {
         display: none;
      }

      .sidebar {
         display: flex;
         max-width: 580px;
         min-width: 580px;
      }

   }
}

// main {
//    font-size: var(--breakpoint-lg);
// }