@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Unbounded:wght@200..900&display=swap");
body {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

svg {
  width: 1em;
  height: 1em;
  overflow: visible;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
   2. Remove default margin
 */
* {
  margin: 0;
}

/*
   Typographic tweaks!
   3. Add accessible line-height
   4. Improve text rendering
 */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
   5. Improve media defaults
 */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
   6. Remove built-in form typography styles
 */
input,
button,
textarea,
select {
  font: inherit;
}

/*
   7. Avoid text overflows
 */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

/*
   8. Create a root stacking context
 */
#root,
#__next {
  isolation: isolate;
}

/**
 * Responsive break points
 */
/**
 * Colors Brand
 */
:root {
  /* Neutral */
  --neutral-100: #000000;
  --neutral-200: #222222;
  --neutral-300: #464749;
  --neutral-400: #666666;
  --neutral-500: #adadad;
  --neutral-600: #d6d6d6;
  --neutral-700: #ebebeb;
  --neutral-800: #f5f5f5;
  --neutral-900: #ffffff;
  /* Primary */
  --primary-50: #004c3f;
  --primary-100: #b2dfda;
  --primary-200: #80cac3;
  --primary-300: #4db5aa;
  --primary-400: #26a598;
  --primary-500: #009585;
  --primary-600: #008879;
  --primary-700: #007869;
  --primary-800: #00685a;
  --primary-900: #004c3f;
  /* Secondary */
  --secondary-500: #FEE000;
  --third-500: #005CFF;
  --forth-500: #00B4CF;
  --fifth-500: #1952A0;
  --sixth-500: #4EC3BD;
  /* Functions color */
  --error: #FF513C;
  --info: #0085FF;
  --waring: #F9B746;
  --success: #64C550;
  /* Error variant */
  --error-50: #ffecef;
  --error-100: #ffd0d5;
  --error-200: #f59f9e --error-300: #ed7b78;
  --error-400: #f95d56;
  --error-500: #ff503c;
  /* Primary Error */
  --error-600: #f0453b;
  --error-700: #dd3b35;
  --error-800: #d0352e;
  --error-900: #c12a21;
  /* Info variant */
  --info-50: #e2f2ff;
  --info-100: #baddff;
  --info-200: #8cc9ff;
  --info-300: #58b3ff --info-400: #2ba3ff;
  --info-500: #0092ff;
  --info-600: #0084ff;
  /* Primary Info */
  --info-700: #1271eb;
  --info-800: #185fd8;
  --info-900: #1e3eb9;
  /* Warning variant */
  --warning-50: #fef3df;
  --warning-100: #fce0b0;
  --warning-200: #fbcc7c;
  --warning-300: #f9b746;
  /* Primary Warning */
  --warning-400: #f8a817;
  --warning-500: #f89900;
  --warning-600: #f48d00;
  --warning-700: #ef7d00;
  --warning-800: #e96d00;
  --warning-900: #e15200;
  /* Success variant */
  --success-50: #e9f7e6;
  --success-100: #caeac2;
  --success-200: #a7dc9b;
  --success-300: #81d071;
  --success-400: #64c550;
  /* Primary Success */
  --success-500: #46ba2b;
  --success-600: #3bab21;
  --success-700: #2d9813;
  --success-800: #1d8701;
  --success-900: #006800;
  /**
  * Responsive break points
  */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
  /* Border-Radius */
  --radius-xs: 4px;
  --radius-sm: 12px;
  --radius-md: 20px;
  --radius-lg: 30px;
}

.bg-primary {
  background-color: var(--primary-500);
}

.bg-secondary {
  background-color: var(--secondary-500);
}

.bg-third {
  background-color: var(--third-500);
}

.bg-gradient-primary {
  background: linear-gradient(to bottom right, #f8fcf8 0%, #e1f5ea 20%, #c9efe5 40%, #a1e4db 60%, #7cd3ce 80%, #2fa89b 100%);
}

.bg-gradient-secondary {
  background: linear-gradient(to bottom right, #ffffff 0%, #dcecff 20%, #90d5ff 40%, #77c3ff 50%, #b3e2a2 60%, #eef3c4 70%, #ffed7f 80%, #ffe87c 90%, #ffef82 100%);
}

.bg-gradient-third {
  background: linear-gradient(to bottom right, #e0f8f8 0%, #b1eced 25%, #7bd6e6 50%, #53b7e8 75%, #306eff 100%);
}

.box-shadow-sm {
  box-shadow: 0px 3px 7px 0px rgba(51, 51, 51, 0.2470588235);
}

.box-shadow-md {
  box-shadow: 0px 4px 10px 0px rgba(51, 51, 51, 0.2470588235);
}

.box-shadow-lg {
  box-shadow: 0px 4px 15px 0px rgba(51, 51, 51, 0.2470588235);
}

.btn-primary-outline {
  display: inline-block;
  border: 1px solid var(--primary-500);
  color: var(--neutral-200);
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 20px;
  background-color: white;
  font-size: 15px;
  text-align: center;
}
.btn-primary-outline:hover {
  color: white;
  background-color: var(--primary-500);
}

.btn.full-radius {
  border-radius: 50px;
}

.container,
.container-fluid {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1500px) {
  .container {
    max-width: 1500px;
  }
}
.root-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.menu-header {
  position: sticky;
  top: 0px;
  z-index: 10;
  margin-top: 0;
  transition: all 200ms ease-in-out;
}
.menu-header.is-sticky {
  border-radius: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  margin: 0;
  width: 100vw;
}

.container-content {
  display: flex;
  flex-direction: column;
  flex: auto;
  gap: 10px;
}
.container-content .main-container {
  max-height: calc(100svh - 160px);
  overflow-y: auto;
  flex-grow: 1;
  width: 100;
  display: flex;
  flex: auto;
  flex-direction: column;
  gap: 0px;
  border-radius: var(--radius-md);
}
.container-content .main-container .banner-main {
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
}
.container-content .main-container .banner-main__desktop {
  display: none;
}
.container-content .main-container .banner-main__mobile {
  display: block;
  width: 100%;
  max-height: 350px;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.container-content .body-main-content {
  flex-grow: 1;
}
.container-content .sidebar-mobile {
  display: flex;
}
.container-content .footer-main-content {
  font-size: 11px;
  text-align: justify;
  padding: 10px;
  color: white;
  border-bottom-left-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
}
.container-content .footer-main-content .content ul {
  padding: 0;
  text-align: left;
}
.container-content .footer-main-content .content ul li {
  display: block;
  margin-bottom: 10px;
  font-size: 4.5px;
  overflow-wrap: break-word;
}
.container-content .footer-main-content.paragraph-2-col {
  column-count: 2;
  column-gap: 10px;
}
.container-content::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
.container-content::-webkit-scrollbar-thumb {
  display: none;
}
.container-content::-webkit-scrollbar-track {
  display: none;
}

.sidebar {
  display: none;
  flex-direction: column;
  width: 100%;
  flex: 0;
}

@media (min-width: 1100px) {
  .root-container {
    gap: 15px;
  }
  .menu-header {
    margin-top: 20px;
  }
  .container-content {
    flex-direction: row;
  }
  .container-content .main-container {
    width: 0;
    max-height: 100%;
    overflow: hidden;
    border-radius: var(--radius-lg);
  }
  .container-content .main-container .banner-main__desktop {
    display: block;
  }
  .container-content .main-container .banner-main__mobile {
    display: none;
  }
  .container-content .main-container .footer-main-content {
    padding: 50px;
    gap: 40px;
    border-bottom-left-radius: var(--radius-lg);
    border-bottom-right-radius: var(--radius-lg);
  }
  .container-content .main-container .footer-main-content.paragraph-2-col {
    column-count: 2;
    column-gap: 40px;
  }
  .container-content .main-container .footer-main-content .content ul li {
    font-size: 10px;
  }
  .container-content .container-sidebar-mobile {
    display: none;
  }
  .container-content .sidebar {
    display: flex;
    max-width: 480px;
    min-width: 480px;
  }
}
@media (min-width: 1500px) {
  .sidebar {
    display: flex;
    max-width: 550px;
    min-width: 550px;
  }
}