@import './base/init';
@import './base/reset';
@import './base/root';
@import './base/components';
@import './grid/container';


.root-container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
   // gap: 10px;
}

.menu-header {
   position: sticky;
   top: 0px;
   z-index: 10;
   margin-top: 20px;
   transition: all 200ms ease-in-out;

   &.is-sticky {
      border-radius: 0;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: white;
      margin: 0;
      width: 100vw;
   }
}

.container-content {
   display: flex;
   flex-direction: column;
   flex: auto;

   gap: 10px;

   .main-container {
      max-height: calc(100svh - 160px);
      overflow-y: auto;

      flex-grow: 1;

      width: 100;
      display: flex;
      flex: auto;
      flex-direction: column;
      gap: 0px;

      border-radius: var(--radius-md);
      // background-color: white;

      .banner-main {
         border-top-left-radius: var(--radius-lg);
         border-top-right-radius: var(--radius-lg);
      }

      .body-main-content {
         flex-grow: 1;

      }

      .sidebar-mobile {
         display: flex;
      }

      .footer-main-content {
         // white-space: break-spaces;
         font-size: 11px;
         text-align: justify;
         padding: 10px;
         color: white;

         border-bottom-left-radius: var(--radius-md);
         border-bottom-right-radius: var(--radius-md);

         .content {
            ul {
               padding: 0;
               text-align: left;

               li {
                  display: block;
                  margin-bottom: 10px;
                  font-size: 4.5px;
                  overflow-wrap: break-word;
               }
            }
         }

         &.paragraph-2-col {
            column-count: 2;
            column-gap: 10px;
         }
      }

      &::-webkit-scrollbar {
         width: 0;
         height: 0;
         display: none;
      }

      &::-webkit-scrollbar-thumb {
         display: none;
      }

      &::-webkit-scrollbar-track {
         display: none;
      }
   }

   .sidebar {
      display: none;
      flex-direction: column;
      width: 100%;
      flex: 0;


   }


}

@import './responsive-main';