.fast-action-controls {
  position: fixed;
  bottom: 62px;
  left: 0;
  right: 0;
  z-index: 999;
}
.fast-action-controls .action-items {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}
.fast-action-controls .action-items .action-item {
  display: flex;
  flex-direction: row;
  border-radius: var(--radius-sm);
  padding: 8px 12px;
  color: white;
  font-size: 13px;
  background-color: var(--primary-500);
  vertical-align: middle;
  align-items: center;
  gap: 5px;
}
.fast-action-controls .action-items .action-item.active {
  background-color: var(--primary-800);
}

@media (min-width: 1100px) {
  .menu-footer-mobile {
    display: none;
  }
}