<div class="container-sidebar">
   <div class="sidebar-title wow animate__slideInRight" data-wow-duration="1.5s" data-wow-delay="0s">
      AI CẦN DỰ PHÒNG HPV?
   </div>
   <div class="list-card wow animate__slideInRight" data-wow-duration="1.5s" data-wow-delay=".3s"
      id="sidebar-list-card">
   </div>

   <!-- Slide posts -->
   <div class="slide-posts wow animate__slideInRight" data-wow-duration="1.5s" data-wow-delay=".5s" id="slide-posts">
      <script type="text/javascript">
         loadHtmlComponent('./components/', 'slide-posts', 'slide-posts')
      </script>
   </div>

</div>

<script type="text/javascript" id="js-sidebar">
   var scriptElement = document.createElement('script');
   scriptElement.src = "./js/components/sidebar-child-page.js";
   scriptElement.type = 'module';
   document.body.appendChild(scriptElement);
</script>