.google-map {
   flex-grow: 1;
   border-radius: var(--radius-sm);
   overflow: hidden;
   position: relative;
   // min-height: 50svh;

   .loading {
      position: sticky;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      height: fit-content;
      transform: translateY(-50%);
      z-index: 99;
   }
}

@media (max-width: 975px) {
   .google-map {
      // min-width: 100%;
      width: 100%;
      max-height: 50svh;
      max-width: 88%;

      iframe {
         // height: 34svh;
         width: 400px;
      }
   }

   // .google-map {
   //    // min-width: 100%;
   //    width: 88%;
   //    max-height: 45svh;

   //    iframe {
   //       // height: 34svh;
   //    }
   // }
}