.container-truly {
   background-color: var(--neutral-900);
   display: flex;
   position: relative;
   justify-content: center;
   padding: 0 1em;
}

.group-truly {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   width: 100%;

   border-radius: var(--radius-md);
   // background: linear-gradient(to bottom right, #306eff 0%, #306eff 25%, #53b7e8 50%, #7bd6e6 75%, #b1eced 100%);
   background: url('../../../images/female-9-18/bg-trully-section.png') no-repeat center;
}

.ribbon-truly {
   width: fit-content;
   color: var(--primary-500);

   font-size: 1.5em;
   padding: 10px 20px;
   background-color: var(--neutral-900);
   margin-bottom: .3em;
   margin-top: 1.2em;
   border-radius: var(--radius-sm);
   background: url('../../../images/female-9-18/bg-ribbon.png') no-repeat center;

}

.hpv-truly {
   display: grid;
   gap: 10px;
   grid-template-columns: auto;
   grid-auto-columns: 1fr;
   grid-auto-rows: 1fr;
   margin-bottom: 15px;
   padding: 0 15px;
}

.truly-item {
   display: flex;
   flex: 1;
   background-color: white;
   position: relative;
   border-radius: var(--radius-sm);
   padding: 10px 10px 10px 0;
   height: auto;

   margin: .5em;
   margin-right: -.5em;
   min-width: 250px;

   // box-shadow: 10px 10px 0 8px #333;

   // &::after {
  //    content: "";
  //    position: absolute;
  //    top: 5px;
  //    left: -10px;
  //    width: calc(100% + 10px);
  //    height: 100%;
  //    background-color: rgba(59, 72, 64, 0.1882352941);
  //    border-radius: 8px 0 0 8px;
  //    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.05);
  //    z-index: -1;
  //    transform: skewY(-1.5deg);
  // }

   &__shape {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: -10px;
      width: 10px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      background-color: var(--primary-500);
      height: calc(100% - 15px);
   }


   &__content {
      width: 100%;
      display: flex;
      align-items: center;

      &__icon {
         height: 90%;
         display: flex;
         position: relative;
         justify-content: center;
         align-items: center;
         border-right: 1px solid var(--forth-500);
         padding: 0 10px;

         img {
            min-width: 40px;
            display: block;
            width: min-content;
         }
      }

      &__des {
         font-weight: 500;
         margin: 0;
         color: var(--primary-500);
         font-size: 12px;
         text-align: justify;
      }

   }

   &.odd {
      margin-right: 13px;
      margin-left: auto;

      // &::after {
      //    top: 5px;
      //    left: auto;
      //    right: -10px;
      //    width: calc(100% + 10px);
      //    height: 100%;
      //    background-color: rgba(59, 72, 64, 0.1882352941);
      //    border-radius: 0 8px 8px 0;
      //    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.05);
      //    z-index: -1;
      //    transform: skewY(1.5deg);
      // }

      .truly-item__content__des {
         // text-align: right;
         border-left: none;
         padding-left: 0;
         padding-right: 10px;
         margin-right: 10px;
         border-right: 1px solid var(--primary-500);
      }

      .truly-item__shape {
         right: -10px;
         left: auto;
         border-top-left-radius: 0;
         border-bottom-left-radius: 0;
         border-top-right-radius: 10px;
         border-bottom-right-radius: 10px;
      }
   }
}

.truly-item__content__group {
   padding-left: 10px;

   p {
      margin: 0;
      margin-top: 0.5em;
      color: var(--neutral-100);
      font-size: 12px;
      font-weight: 300;
      text-align: justify;
   }
}

.truly-item:nth-child(2) {
   .truly-item__shape {
      background-color: var(--forth-500);
   }

   .truly-item__content__des {
      color: var(--forth-500);
   }

   .truly-item__content__icon {
      border-color: var(--forth-500);
   }
}

.truly-item:nth-child(3) {
   .truly-item__content__des {
      color: var(--fifth-500);
   }

   .truly-item__shape {
      background-color: var(--fifth-500);
   }

   .truly-item__content__icon {
      border-color: var(--fifth-500);
   }
}

.truly-item:nth-child(4) {
   .truly-item__content__des {
      color: var(--secondary-500);
   }

   .truly-item__shape {
      background-color: var(--secondary-500);
   }

   .truly-item__content__icon {
      border-color: var(--secondary-500);
   }

}

.is-blue {

   .group-truly {
      background: linear-gradient(180deg, #0D64FD 0%, #8DB1DF 100%);
   }

   .ribbon-truly {
      background: white;
      color: var(--third-500);
      box-shadow: 2px 2px 5px #33333358;
   }
}

@media (min-width: 768px) {

   .ribbon-truly {
      font-size: 2em;
   }

}

@media (min-width: 1100px) {
   // .truly-item {
   //    margin: 1.5em;
   //    margin-right: 0;
   // }

   // .ribbon-truly {
   //    font-size: 2em;
   // }

   // .truly-item__content__group p,
   // .truly-item .truly-item__content__des {
   //    font-size: 16px;
   // }

   // .truly-item__content__icon img {
   //    min-width: 50px;
   // }
}

@media (min-width: 1300px) {

   .ribbon-truly {
      font-size: 2.8em;
   }

   .truly-item__content__group p,
   .truly-item .truly-item__content__des {
      font-size: 1.7em;
   }

   // .truly-item__content__icon img {
   //    min-width: 60px;
   // }

   // .truly-item__content__group {
   //    padding-left: 25px;
   // }

   // .truly-item {
   //    padding: 25px 25px 25px 0;
   // }

   // .truly-item__content__icon {
   //    padding: 0 25px;
   // }

   // .truly-item__shape {
   //    left: -14px;
   //    width: 15px;
   //    border-top-left-radius: 15px;
   //    border-bottom-left-radius: 15px;
   // }
}

@media (min-width: 1500px) {

   // .truly-item__content__group p,
   // .truly-item .truly-item__content__des {
   //    font-size: 2em;
   // }

   // .truly-item__content__group {
   //    padding-left: 25px;
   // }

   // .truly-item {
   //    padding: 25px 25px 25px 0;
   // }

   // .truly-item__content__icon {
   //    padding: 0 25px;
   // }

   // .truly-item__content__icon img {
   //    min-width: 60px;
   // }

   // .truly-item__shape {
   //    left: -14px;
   //    width: 15px;
   //    border-top-left-radius: 15px;
   //    border-bottom-left-radius: 15px;
   // }

}