@import'./sidebar';
@import'./section-1';
@import'./section-2';
@import'./prevention-methods';

.container-content .main-container .body-main-content {

   position: relative;
   z-index: 1;

   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      background-color: var(--neutral-900);
      opacity: 0.5;

   }
}

@import './responsive'