.hover-custom-color-text:hover>div>div>svg {
    filter: brightness(0) invert(1) grayscale(100%) brightness(100)
}

.hover-custom-color-text:hover>div>div>p {
    color: white !important;
}

.hover40AFA3:hover {
    background: #40AFA3 !important;
}

.hover-text-fff:hover {
    color: #fff !important;
}

.hover-text-005750:hover {
    color: #005750 !important;
}

.hoverfff:hover {
    background: #fff !important;
}

.text-fff {
    color: #fff !important;
}

.text-000 {
    color: #000 !important;
}

.swiper-pagination-bullet {
    border: 1px solid #1da1f2;
}

.swiper-pagination-bullet-active {
    background: #1da1f2
}

img:not([draggable]),
embed,
object,
video {
    max-width: 100%;
    height: auto;
}

.bg-fff {
    background-color: #fff !important;
}

.bg-40CCAB {
    background-color: #40CCAB !important;
}

.hover-bg-40AFA3:hover {
    background-color: #40AFA3 !important;
}

.hover-bg-fff:hover {
    background-color: #fff !important;
}

.bg-005750 {
    background: #005750;
}

.bg-00A8AE {
    background: #00A8AE;
}

.bg-40CDAC {
    background: #40CDAC;
}

@media only screen and (min-width: 768px) and (max-height: 1024px) {
    .content-quiz-xl {
        width: 100% !important;
    }

    .content-quiz-question-xl {
        width: 50% !important;
    }
}

@media only screen and (min-width: 768px) and (max-height: 1024px) {
    .box-select-tablet {
        height: 50px !important;
        width: 100px !important;
    }
}