<link rel="stylesheet" href="./css/components/fast-action-controls.css">
<link rel="stylesheet" href="./css/components/popover-locations.css" />
<link rel="stylesheet" href="./css/components/popover-deplay-change-page.css" />

<!-- Popover Locations -->


<a href="https://m.me/hpvvietnam?ref=botshare" class="action-item" id="fast-btn-chat-now">
   <img src="./images/icons/svg/cloud-chat-outline.svg" />
   <span class="action-item__title">Chat với chúng tôi</span>
</a>

<a href="https://hpv.vn/dia-diem-tu-van" class="action-item" id="fast-btn-consulting-point">
   <img src="./images/icons/svg/location-plus-outline-white.svg" />
   <span class="action-item__title">Địa điểm tư vấn dự phòng</span>
</a>

<!-- <a href="https://youmed.vn/dat-kham/benh-vien?utm_source=Hpv.vn&utm_medium=redirect&utm_campaign=MSD006-HPV" -->
<div class="action-item" id="fast-btn-booking" title="Tham Vấn Ngay Với Chuyên Gia Y Tế">
   <img src="./images/icons/svg/calender.svg" />
   <span class="action-item__title">
      Đặt lịch tư vấn dự phòng
   </span>
</div>

<script type="text/javascript">
   var scriptElement = document.createElement('script');
   scriptElement.src = "./js/components/fast-action-controls.js";
   scriptElement.type = 'module';
   document.body.appendChild(scriptElement);
</script>