<div class="overlay"></div>
<div class="search-container">
   <div class="search-content">
      <div class="search-control">
         <input type="text" placeholder="Nhập từ khoá tìm kiếm" class="input-control">
         <button class="search">
            Tìm kiếm
         </button>
         <span class="close-modal">
            <svg width="1em" height="1em" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
               <path d="M15.4516 1.32027L1.30942 15.4624M1.30943 1.32027L15.4516 15.4624" stroke="currentColor" />
            </svg>
         </span>
      </div>
      <div class="results-search">
         <h3 class="title">Tìm kiếm nhiều nhất</h3>
         <div class="list-results">
            <div class="msd-loader-container">
               <div class="msd-loader"></div>
               <div class="msd-loader-text">Tìm kiếm...</div>
            </div>

         </div>
      </div>
   </div>
</div>