.custom-position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.snackbar {
    top: 50px;
    /* Điều chỉnh vị trí theo yêu cầu của bạn */
    right: 50px;
    /* Điều chỉnh vị trí theo yêu cầu của bạn */
}

.bg-005750 {
    background: #005750 !important;
}

.bg-F9E249 {
    background: #F9E249 !important;
}

.bg-005CFB {
    background: #005CFB !important;
}


.custom-transition-thanks {
    overflow: hidden !important;
    max-height: 111px !important;
    display: flex;
    flex-shrink: 0;
    animation: mymove .5s 1;
    width: 100%;
}

.custom-transition-thanks span {
    animation: mymoveText 1s 1;
}


@keyframes mymove {
    from {
        width: 0px;
        max-height: 0 !important;
        overflow: hidden !important;
        ;
    }

    to {
        max-height: 100% !important;
        overflow: hidden;
        width: 100%
    }
}


@keyframes mymoveText {

    0% {
        /* display: none; */

        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: inherit;
    }
}