<link type="text/css" rel="stylesheet" href="./css/layout/menu/menu.css">

<div class="menu-desktop box-shadow-md">
   <div class="logos">
      <img src="./images/common/logo-vapm.png" alt="vapm" />
      <img src="./images/common/logo-menu.png" alt="hpv" />
   </div>
   <nav id="nav-menu" class="nav-menu">
      <ul>
      </ul>

      <script type="text/javascript" id="js-menu">
         var scriptElement = document.createElement('script');
         scriptElement.src = "./js/layout/main-menu.js";
         scriptElement.type = 'module';
         document.body.appendChild(scriptElement);
      </script>

      <div class="search-control" id="search-control" title="Search">
         <script type="text/javascript">
            loadHtmlComponent('./layout/menu/', 'search-control', 'search');
         </script>
      </div>
   </nav>


</div>