<link type="text/css" rel="stylesheet" href="./css/layout/menu/menu.css">

<script type="text/javascript" id="js-menu">
   var scriptElement = document.createElement('script');
   scriptElement.src = "./js/layout/main-menu.js";
   scriptElement.type = 'module';
   document.body.appendChild(scriptElement);
</script>

<div class="main-menu box-shadow-md">

   <!-- Button open menu mobile -->
   <div class="btn-open-menu-mobile">
      <svg xmlns:xlink="http://www.w3.org/1999/xlink">
         <use xlink:href="#3-dots" fill="currentColor" />
      </svg>
   </div>

   <!-- Logo -->
   <div class="logos">
      <img src="./images/common/logo-vapm.png" alt="vapm" />
      <img src="./images/common/logo-menu.png" alt="hpv" />
   </div>

   <!-- Menu -->
   <nav id="nav-menu" class="nav-menu">
      <ul>
      </ul>
      <div class="search-control" id="search-control" title="Search">
         <svg xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="#search" fill="currentColor" />
         </svg>
      </div>
   </nav>


</div>