@charset "UTF-8";
.modal-search#modal-search {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 102;
  top: calc(100% + 1em);
  transition: all 200ms ease-in-out;
  display: none;
  opacity: 0;
  height: 0;
  max-height: fit-content;
}
.modal-search#modal-search.active {
  display: block !important;
  opacity: 1;
  height: 100vh;
  height: calc-size(auto);
}
.modal-search#modal-search .search-container {
  width: 100%;
  opacity: 1;
  overflow-y: auto;
  translate: 0 0;
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-behavior: allow-discrete;
  -o-transition-timing-function: linear;
}
@starting-style {
  .modal-search#modal-search .search-container {
    opacity: 0;
    translate: 0 25vh;
  }
}
.modal-search#modal-search .overlay {
  display: none;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5254901961);
}

.search-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em 2.5em;
  position: relative;
  font-size: 1rem;
  margin: auto;
  background-color: white;
  border-radius: var(--radius-lg);
  box-shadow: 0em 2em 5em rgba(51, 51, 51, 0.1);
}
.search-content .search-control {
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  width: 100%;
  max-width: 900px;
  margin: auto;
}
.search-content .search-control input,
.search-content .search-control button {
  height: 3.2em;
}
.search-content .search-control input {
  font-size: 1.8em;
  padding: 8px 12px;
  border-radius: var(--radius-sm);
  border: 1.5px solid var(--primary-500);
  flex-grow: 1;
}
.search-content .search-control input:focus {
  outline: none;
}
.search-content .search-control button {
  font-size: 1.8em;
  padding: 0.5em 2em;
  background-color: var(--primary-500);
  color: white;
  border: none;
  border-radius: var(--radius-sm);
  text-transform: uppercase;
  line-height: 1;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}
.search-content .search-control button:hover {
  background-color: var(--primary-700);
}
.search-content .search-control span.close-modal {
  position: absolute;
  right: 1em;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  color: var(--neutral-300);
  background-color: rgba(0, 0, 0, 0.1254901961);
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  cursor: pointer;
}
.search-content .search-control span.close-modal:hover {
  background-color: var(--primary-100);
  color: var(--primary-700);
}
.search-content .results-search {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 2em;
  font-size: 1rem;
  width: 100%;
  align-content: flex-start;
  max-height: calc(100svh - 33em);
  overflow-y: auto;
}
.search-content .results-search .title {
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.list-results {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
  margin: 2em 0;
  width: 100%;
  justify-content: center;
  /* Chia các cột với kích thước tối thiểu là 15em */
  gap: 2.2em;
  width: 100%;
  height: fit-content;
  /* Khoảng cách giữa các phần tử */
}
.list-results .result-item {
  min-width: 22em;
  max-width: 22em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  border-radius: var(--radius-sm);
  box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.05);
  overflow: hidden;
  flex: 1;
  transition: all 0.25s linear;
  transform: scale(1);
}
.list-results .result-item__des {
  padding: 1em;
  color: white;
  background-color: var(--primary-500);
  font-size: 0.8em;
  font-weight: 400;
  position: relative;
  z-index: 1;
}
.list-results .result-item:hover {
  transform: scale(1.05);
  box-shadow: 0 1em 1.5em rgba(0, 0, 0, 0.2);
}

@media (max-width: 1099px) {
  .modal-search#modal-search {
    top: 0;
    z-index: 99999;
  }
  .modal-search#modal-search .search-control {
    margin: 1.2em auto;
  }
  .modal-search#modal-search .search-content {
    border-radius: 0;
    height: 100svh;
    padding: 1em;
  }
  .modal-search#modal-search .search-content .results-search {
    max-height: calc(100svh - 14em);
    overflow-y: auto;
  }
  .modal-search#modal-search .search-content input,
  .modal-search#modal-search .search-content button {
    font-size: 1.5em;
  }
  .modal-search#modal-search .search-content button {
    padding: 0.5em 1em;
  }
  .modal-search#modal-search .search-content span.close-modal {
    position: static;
  }
}
@media (max-width: 768px) {
  .modal-search#modal-search .search-content .results-search .list-results .result-item {
    min-width: 12em;
  }
}