.btn-primary-outline {
   display: inline-block;
   border: 1px solid var(--primary-500);
   color: var(--neutral-200);
   transition: all 0.25s ease-in-out;
   cursor: pointer;
   text-decoration: none;
   padding: 5px 20px;
   background-color: white;
   font-size: 15px;
   text-align: center;

   &:hover {
      color: white;
      background-color: var(--primary-500);
   }

}

.btn {
   &.full-radius {
      border-radius: 50px;
   }
}

.btn-primary-animation,
.btn-dark-primary-animation {
   transition: all .4s;
   position: relative;
   overflow: hidden;
   z-index: 1;

   &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: calc(100% + 2px);
      background-color: var(--primary-500);
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
      left: -2px;
   }

   &:hover {
      background-color: transparent;
      border-color: var(--primary-500);
      color: white;

      &:before {
         width: calc(100% + 4px);
      }
   }
}

.btn-dark-primary-animation {
   &:before {
      background-color: var(--primary-800);
   }
}

.btn-primary-animation.is-blue {
   &:before {
      background-color: var(--third-800);
   }
}

.btn-primary-animation.is-yellow {
   &:before {
      background-color: var(--secondary-800);
   }
}