.text-neutral {
   color: var(--neutral-500);
}

.text-primary {
   color: var(--primary-500);
}

.text-secondary {
   color: var(--secondary-500);
}

.text-forth {
   color: var(--forth-500);
}

.text-fifth {
   color: var(--fifth-500);
}

.text-sixth {
   color: var(--sixth-500);
}